@font-face {
  font-family: 'font-icon';
  src: url('../fonts/font-icon/font-icon.eot?57978259');
  src: url('../fonts/font-icon/font-icon.eot?57978259#iefix') format('embedded-opentype'),
       url('../fonts/font-icon/font-icon.woff?57978259') format('woff'),
       url('../fonts/font-icon/font-icon.ttf?57978259') format('truetype'),
       url('../fonts/font-icon/font-icon.svg?57978259#font-icon') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'font-icon';
    src: url('../fonts/font-icon.svg?57978259#font-icon') format('svg');
  }
}
*/
 [class^="custom-icon-"] {
  font-family: "font-icon";
  font-style: normal;
  font-weight: normal;
  display: inline-block;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transform: translate(0, 0);
 }

.custom-icon-user:before { content: '\e802'; } /* '' */
.custom-icon-users:before { content: '\e800'; } /* '' */
.custom-icon-doc-add:before { content: '\e801'; } /* '' */
.custom-icon-logout:before { content: '\e803'; } /* '' */