@font-face {
  font-family: 'FontAwesome';
  src: url("../fonts/font-awesome/fontawesome-webfont.eot");
  src: url("../fonts/font-awesome/fontawesome-webfont.eot?#iefix") format("embedded-opentype"), 
       url("../fonts/font-awesome/fontawesome-webfont.woff2") format("woff2"), 
       url("../fonts/font-awesome/fontawesome-webfont.woff") format("woff"), 
       url("../fonts/font-awesome/fontawesome-webfont.ttf") format("truetype"), 
       url("../fonts/font-awesome/fontawesome-webfont.svg#FontAwesome") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Glyphicons Halflings';
  src: url("../fonts/bootstrap/glyphicons-halflings-regular.eot");
  src: url("../fonts/bootstrap/glyphicons-halflings-regular.eot?#iefix") format("embedded-opentype"), 
       url("../fonts/bootstrap/glyphicons-halflings-regular.woff2") format("woff2"), 
       url("../fonts/bootstrap/glyphicons-halflings-regular.woff") format("woff"), 
       url("../fonts/bootstrap/glyphicons-halflings-regular.ttf") format("truetype"), 
       url("../fonts/bootstrap/glyphicons-halflings-regular.svg#FontAwesome") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'font-icon';
  src: url('../fonts/font-icon/font-icon.eot?57978259');
  src: url('../fonts/font-icon/font-icon.eot?57978259#iefix') format('embedded-opentype'),
       url('../fonts/font-icon/font-icon.woff?57978259') format('woff'),
       url('../fonts/font-icon/font-icon.ttf?57978259') format('truetype'),
       url('../fonts/font-icon/font-icon.svg?57978259#font-icon') format('svg');
  font-weight: normal;
  font-style: normal;
}