@import "font";
@import "bootstrap-variables";

// Font family
$font-family: Helvetica, sans-serif;
$font-family-2: "Open Sans";
$font-bootstrap: 'Glyphicons Halflings';
$font-icon: 'FontAwesome';
$font-icon-2: 'font-icon';

// Font size
// FONT SIZE BASE
$font-size-base:          	14px;

$font-size-larger-extra-largest: floor(($font-size-base * 4.65)); // ~65px
$font-size-large-extra-largest:  ceil(($font-size-base * 3.85)); // ~54px
$font-size-extra-largest:		 ceil(($font-size-base * 3.2)); // ~44px
$font-size-small-extra-largest:	 ceil(($font-size-base * 2.85)); // ~40px

$font-size-largest:				 floor(($font-size-base * 2.6)); // ~36px
$font-size-larger:				 floor(($font-size-base * 2.15)); // ~30px
$font-size-large:				 ceil(($font-size-base * 1.7)); // ~24px
$font-size-medium:				 ceil(($font-size-base * 1.25)); // ~18px
$font-size-normal:				 $font-size-base;
$font-size-small:				 ceil(($font-size-base * 0.85)); // ~12px
// FONT SIZE CUSTOM
$font-size-custom: 				13px;

$font-size-custom-larger:    ceil(($font-size-custom * 1.5)); // ~20px
$font-size-custom-large:		floor(($font-size-custom * 1.25)); // ~16px
$font-size-custom-medium:		ceil(($font-size-custom * 1.2)); // ~15px
$font-size-custom-normal:		$font-size-custom;
$font-size-custom-small:		ceil(($font-size-custom * 0.85)); // ~11px
$font-size-custom-tiny:     ceil(($font-size-custom * 0.55)); // ~7px

// Color 
$primary-color-1: 			   #d5a010; //Yellow
$primary-color-2:          #4c2432; //Purple
$dark-color:               #373737;
$light-color:              #fff;
$gray-color: 				       #FBFBFB;
$shadow-color: 				     #d6d6d6;
// $border-color:				   $primary-color;
// $background-color:			   $primary-color;
$text-color:				       $light-color;

// Background
$light-background-color: 	 $light-color;
$dark-background-color:    $dark-color;
$gray-background-color:    #e1e1e1;
$background-color-1:             $primary-color-1;
$background-color-2:             $primary-color-2;

// Text color
$light-text-color:			   $light-color;
$dark-text-color:          $dark-color;
$text-color-1:             $primary-color-1;
$text-color-2:             $primary-color-2;

// Border color
$default-border-color:		 #e2e2e2;
$light-border-color:		   #fff;
$border-color-1:           $primary-color-1;
$border-color-2:           $primary-color-2;

// Mixing
@mixin background-opacity($color, $opacity: 0.8) {
    background: $color;
    background: rgba($color, $opacity);
}

@mixin keyframes($animation-name) {
  @-webkit-keyframes #{$animation-name} {
    @content;
  }
  @-moz-keyframes #{$animation-name} {
    @content;
  }  
  @-ms-keyframes #{$animation-name} {
    @content;
  }
  @-o-keyframes #{$animation-name} {
    @content;
  }  
  @keyframes #{$animation-name} {
    @content;
  }
}

@mixin animation($str) {
  -webkit-animation: #{$str};
  -moz-animation: #{$str};
  -ms-animation: #{$str};
  -o-animation: #{$str};
  animation: #{$str};      
}

@mixin transition($transition) {
	-webkit-transition: #{$transition};
	-moz-transition: #{$transition};
	-ms-transition: #{$transition};
	-o-transition: #{$transition};
	transition: #{$transition};
}

@mixin border-radius($value) {
  -webkit-border-radius: $value;
  -moz-border-radius: $value;
  border-radius: $value;
}

@mixin box-shadow($value) {
  -webkit-box-shadow: $value;
  -moz-box-shadow: $value;
  box-shadow: $value;
}
// @mixin button-variant($color, $background, $border) {
// 	color: $color;
// 	background-color: $background;
// 	border-color: $border;

// 	&:focus,
// 	&.focus {
// 		color: $color;
// 		background-color: darken($background, 10%);
// 		border-color: darken($border, 25%);
// 	}
// 	&:hover {
// 		color: $color;
// 		background-color: darken($background, 10%);
// 	    border-color: darken($border, 12%);
// 	}
// 	&:active,
// 	&.active,
// 	.open > &.dropdown-toggle {
// 		color: $color;
// 		background-color: darken($background, 10%);
// 	    border-color: darken($border, 12%);
// 		&:hover,
// 		&:focus,
// 		&.focus {
// 			color: $color;
// 			background-color: darken($background, 17%);
// 			border-color: darken($border, 25%);
// 		}
// 	}
// 	&:active,
// 	&.active,
// 	.open > &.dropdown-toggle {
// 		background-image: none;
// 	}
// 	&.disabled,
// 	&[disabled],
// 	fieldset[disabled] & {
// 		&,
// 		&:hover,
// 		&:focus,
// 		&.focus,
// 		&:active,
// 		&.active {
// 		  background-color: $background;
// 		      border-color: $border;
// 		}
// 	}
// }

// // Button sizes
// @mixin button-size($padding-vertical, $padding-horizontal, $font-size, $line-height, $border-radius) {
// 	padding: $padding-vertical $padding-horizontal;
// 	font-size: $font-size;
// 	line-height: $line-height;
// 	border-radius: $border-radius;
// }
