// Import Bootstrap Compass integration
@import "bootstrap-compass";

// Import Bootstrap for Sass
@import "bootstrap";

// Import Custom variables
@import "variables";

// Import Susy
@import "grids";

// Import bourbon
@import "bourbon/bourbon";

// CSS GLOBAL RULES
body {
	font-family: $font-family-2;
	background-color: $light-background-color;
	color: $dark-text-color;
	font-size: $font-size-normal;
	a {
		color: $text-color;
		outline: none;
		text-decoration: none;
		&:active, &:focus, &:hover {
			color: $text-color-1;
			outline: none;
			text-decoration: none;
		}
	}
	.table-wrapper {
		display: table;
		width: 100%;
		height: 100%;
	}
	.cell {
		display: table-cell;
		vertical-align: middle;
	}
	.glyphicon {
		font-size: 85%;
	}
}
header {
	background-color: $light-background-color;
	@include box-shadow(0px 1px 2px 1px darken($shadow-color, 25%));
	position: relative;
	z-index: 9999;
	.header-container {
		@include clearfix;
		.top-logo {
			display: block;
			width: 175px;
			height: 115px;
			padding: 10px 15px;
			@media (min-width: $screen-lg) {
				float: left;
			}
			@media (max-width: $screen-md-max) {
				margin: 0 auto;
			}
			@media (max-width: $screen-xs-max) {
				width: 130px;
    			height: 85px;
				padding: 5px 10px;
				float: left;
			}
			img {
				width: 100%;
				height: auto;
			}
		}
		.socials-block {
			@media (min-width: $screen-sm) {
				display: inline-block;
				position: absolute;
				right: 15px;
				top: 15px;  
			}
			@media (min-width: $screen-sm) and (max-width: $screen-md-max) {
				left: 15px;
				top: 120px;  
			}
			ul {
				margin: 0;
				padding: 0;
				display: block;
				white-space: nowrap;
				@media (max-width: $screen-xs-max) {
					text-align: center;
					padding: 5px; 
				}
				li {
					margin: 0;
					padding: 1px;
					display: inline-block;
					a {
						display: block;
						width: 25px;
						height: 25px;
						line-height: 1;
						text-align: center;
						overflow: hidden;
						color: $light-text-color; 
						font-size: $font-size-medium; 
						background-color: $background-color-1;   
						@include border-radius(100%);
						position: relative;
						i {
							display: block;
							width: 18px;
							height: 18px;
							position: absolute;
							left: 0;
							top: 0;
							bottom: 0;
							right: 0;
							margin: auto;      
						}
					}
				}
			}
		}
		.navigation {
			display: block;
			.nav-toggle {
				display: block;
				@media (min-width: $screen-sm) {
					display: none;
				}
				@media (max-width: $screen-xs-max) {
					float: right;
					background-color: $background-color-1;
					border: 2px solid $border-color-2;
					color: $light-text-color;
					outline: none;
					font-size: $font-size-large;
					margin-top: 20px;
    				padding: 0 10px;
					@include box-shadow(0);
					@include border-radius(5px);
					&:hover, &:focus {
						@include opacity(0.75);
					}
				}
			}
			#mainNav {
				overflow: hidden;
				@media (min-width: $screen-sm) {
					display: block;
					height: auto !important;
				}
				@media (min-width: $screen-lg) {
					text-align: right;
				}
				@media (min-width: $screen-sm) and (max-width: $screen-md-max) {
					text-align: center;
				}
				@media (max-width: $screen-xs-max) {
					width: 100%;
				}
				ul.nav-block {
					display: block;
					margin: 50px 0 0;
					padding: 0;
					@media (min-width: $screen-sm) and (max-width: $screen-md-max) {
						margin: 45px 0 15px;
					}
					@media (max-width: $screen-xs-max) {
						margin: 5px 0;
					}
					@media (min-width: $screen-lg) {
						padding: 0 25px 0 0;
					}
					list-style-type: none;
					font-weight: bold;
					li {
						display: inline-block;
						position: relative;
						padding: 5px 12px;
						margin: 0;
						@media (max-width: $screen-xs-max) {
							display: block;
							width: 100%;
							padding: 8px;
							overflow: hidden;
						}
						a {
							font-size: $font-size-normal;
							font-family: $font-family-2;
							font-weight: bold;
							text-transform: uppercase;
							color: $dark-text-color;
						}
						&.active, &:hover, &:focus {
							a {
								color: $text-color-1;
							}
							@media (max-width: $screen-xs-max) {
								padding-left: 24px;
								&:after {
									content: "";
									display: block;
									position: absolute;
									bottom: 0;
									left: 0;
									width: 100%;
									border-bottom: 2px solid $border-color-1;
								}
							}
						}
					}
				}
			}
		}
	}
}
.main {
	.article-block {
		.content-block {
			h4 {
				font-size: $font-size-custom-larger;
				color: $text-color-2;
				margin-top: 20px;
			}
			img {
				max-width: 100% !important;
				height: auto !important;
			}
		}
	}
	.banner-block {
		@include box-shadow(0px 2px 8px darken($shadow-color, 30%));
		position: relative;
		z-index: 999;
		&.full-block {
			width: 100%;
			padding-top: (2.5/8)*100%;
			position: relative;
			overflow: hidden;
			// @media (max-width: $screen-xs-max) {
			// 	padding-top: (3/4)*100%;
			// }
		}
		#top_Banner {
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			width: 100%;
			height: 100%;
		}
		img {
			width: 100%;
			height: auto;
			position: relative;
			top: 50%;
			@include transform(translateY(-50%));
		}
		.carousel-inner, .item {
			height: 100%;
		}
		.carousel-caption {
			perspective: 800px;
			text-align: left;
			top: 0;
			left: 8%;
    		bottom: 0;
    		overflow: hidden;
    		padding: 0;
    		@media (max-width: $screen-xs-max) {
    			padding: 0;
    		}
    		margin: 20px 0;
			h2, p {
				display: inline-block;
				margin: 0;
				color: $light-text-color;
				padding: 15px;
				text-shadow: none;
				@include transform(rotateY(-73deg));
				@include backface-visibility(hidden);
				@include opacity(0);
				@include transition(all 0.8s ease-in-out);
				@media (max-width: $screen-xs) {
					padding: 8px;
				}
			}
			h2 {
				text-transform: uppercase;
				font-size: $font-size-medium;
				font-weight: normal;
				line-height: 1;
				background-color: rgba(red($background-color-1), green($background-color-1), blue($background-color-1), 0.75);
				@media (max-width: $screen-xs) {
					font-size: $font-size-medium;
				}
			}
			p {
				font-size: $font-size-custom;
				line-height: 1.5;
				font-family: $font-family-2;
				margin: 0;
				width: 40%;
				font-weight: 500;
				background-color: rgba(red($background-color-2), green($background-color-2), blue($background-color-2), 0.75);
				@media (min-width: $screen-md) and (max-width: $screen-md-max) {
					width: 50%;
				}
				@media (min-width: $screen-sm) and (max-width: $screen-sm-max) {
					width: 60%;
				}
				@media (max-width: $screen-xs-max) {
					width: 100%;
				}
				@media (max-width: $screen-xs) {
					font-size: $font-size-small;
				}
			}
			&.active {
    			h2, p {
					@include transform(rotateY(0));
					@include opacity(1);
    			}
			}
			.line-break {
				display: block;
				height: 0;
				width: 100%;
			}
		}
		.carousel-control {
			display: block;
			background-image: none;
			font-size: $font-size-larger-extra-largest;
			width: 65px;
			height: 65px;
			line-height: 0;
    		text-align: center;
			margin: auto 0;
			@include opacity(1);
			@media (max-width: $screen-xs-max) {
				width: 54px;
				height: 54px;
				font-size: $font-size-large-extra-largest;
			}
			&:before {
				content: "";
				position: absolute;
				@include border-radius(100%);
				width: 200%;
				height: 200%;
				top: -50%;
				background-color: rgba(red($background-color-1), green($background-color-1), blue($background-color-1), 0.4);
				@media (max-width: $screen-xs-max) {
					width: 150%;
					height: 150%;
					top: -25%;
				}
			}
			&:hover, &:focus {
				&:before {
					background-color: rgba(red($background-color-1), green($background-color-1), blue($background-color-1), 0.55);
				}
			}
			&.left {
				&:before {
					right: 0;
				}
				@media (max-width: $screen-xs-max) {
					text-indent: -8px;
				}
			}
			&.right {
				&:before {
					left: 0;
				}
				@media (max-width: $screen-xs-max) {
					text-indent: 8px;
				}
			}
		}
	}
	.top-seperate {
		height: 20px;
		width: 170px;
		margin: 32px auto 0;
		font-size: 0;
		white-space: nowrap;
		.icon {
			display: inline-block;
			width: 20px;
			height: 20px;
			background-image: url(../images/icon/bullet.png);
			background-repeat: no-repeat;
			margin-right: 30px;
			background-size: contain;
			&:last-child {
				margin-right: 0;
			}
		}
	}
	.title-heading {
		width: percentage((6 / $grid-columns));
		margin: 32px auto;
		overflow: hidden;
		text-align: center;
		white-space: nowrap;
		position: relative;
		@include clearfix;
		@media (max-width: $screen-sm-max) {
			width: 100%;
		}
		&:before, &:after {
			content: "";
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			width: 100%;
			height: 1px;
			margin: auto 0;
			display: block;
			border-top: 1px solid $border-color-1;
		}
		h2 {
			display: inline-block;
			font-size: $font-size-large;
			margin: 0;
			font-size: $font-size-largest;
			color: #d5a00f;
			line-height: 1.2;
			text-transform: capitalize;
			font-weight: 300;
			background-color: $light-background-color;
			position: relative;
			z-index: 1;
			padding: 0 10px;
			@media (max-width: $screen-xs-max) {
				font-size: $font-size-medium;
			}
		}
	}
	.content-block {
		@include clearfix;
		p {
			@media (max-width: $screen-xs-max) {
				font-size: $font-size-small;
			}
		}
		img {
			margin: 0 auto;
		}
		.time-moving-title {
			border-bottom: 1px solid $default-border-color;
			margin: 0;
			text-align: left;
			font-weight: bold;
			text-transform: uppercase;
			line-height: 1.6;
			padding: 8px;
			font-size: $font-size-medium;
		}
		.time-moving-list {
			text-align: left;
			margin: 0;
			padding: 0;
			list-style-image: url(../images/icon/right-icon.png);
			list-style-position: inside;
			li {
				border-bottom: 1px solid $default-border-color;
				line-height: 1.4;
				margin: 0;
				padding: 15px 0px 15px 10px;
				&:before {
					content: "";
					width: 15px;
					display: inline-block;
					visibility: hidden;
				}
			}
		}
		.widget-list {
			margin: 0;
			padding: 0;
			font-size: 0;
			text-align: left;
			li {
				vertical-align: middle;
				padding: 0;
				margin: 0;
				display: inline-block;
				font-size: $font-size-normal;
				width: percentage((4 / $grid-columns));
				padding: 5px 0;
				@media (min-width: $screen-xs) and (max-width: $screen-sm-max) {
					width: percentage((6 / $grid-columns));
				}
				@media (max-width: $screen-xs) {
					width: 100%;
				}
				.icon {
					display: inline-block;
					margin: 0 10px;
				}
			}
		}
		.gallery-block {
			margin-bottom: 32px;
			overflow: hidden;
			position: relative;
			.row {
				margin: 0;
			}
			[class*="col-"] {
				padding: 0;
				border: 1px solid transparent;
			}
			.image-wrapper {
				display: block;
				width: 100%;
				padding-bottom: percentage((8.5 / $grid-columns));
				position: relative;
				img {
					width: 100%;
					height: auto;
					min-height: 100%; 
					position: absolute;
					top: 50%;
					left: 50%;					
					@include transform(translateX(-50%) translateY(-50%));
				}
			}
			.scroll-control {
				position: absolute;
				top: 0;
				bottom: 0;
				display: block;
				background-image: none;
				font-size: $font-size-larger-extra-largest;
				width: 65px;
				height: 65px;
				line-height: 0;
	    		text-align: center;
				margin: auto 0;
				@include opacity(1);
				@media (max-width: $screen-xs-max) {
					width: 54px;
					height: 54px;
					font-size: $font-size-large-extra-largest;
				}
				&:before {
					content: "";
					position: absolute;
					@include border-radius(100%);
					width: 200%;
					height: 200%;
					top: -50%;
					background-color: rgba(red($background-color-1), green($background-color-1), blue($background-color-1), 0.4);
					@media (max-width: $screen-xs-max) {
						width: 150%;
						height: 150%;
						top: -25%;
					}
				}
				&:hover, &:focus {
					color: darken($light-text-color, 10%);
					&:before {
						background-color: rgba(red($background-color-1), green($background-color-1), blue($background-color-1), 0.55);
					}
				}
				&.prev {
					left: 0;
					&:before {
						right: 0;
					}
					@media (max-width: $screen-xs-max) {
						text-indent: -8px;
					}
				}
				&.next {
					right: 0;
					&:before {
						left: 0;
					}
					@media (max-width: $screen-xs-max) {
						text-indent: 8px;
					}
				}
			}
		}
		.video-block {
			[class*="col-"] {
				padding: 0 10px;
				border: 1px solid transparent;
			}
			.video-box {
				@include box-shadow(4px 4px 10px darken($shadow-color, 25%));
				.video-wrapper {
					display: block;
					width: 100%;
					padding-bottom: percentage((7.75 / $grid-columns));
					position: relative;
					&:before {
						display: none;
						content: "";
						position: absolute;
						opacity: 0.4;
						z-index: 1;
						background-color: $dark-background-color;
						width: 100%;
						height: 100%;
						top: 0;
						left: 0;
					}
					&:after {
						display: none;
						content: "\f04b";
						text-indent: 5px;
						font-family: $font-icon;
						@include border-radius(100%);
						width: 100px;
						height: 100px;
						padding: 23px;
						margin: auto;
						text-align: center;
						vertical-align: middle;
						line-height: 1;
						font-size: $font-size-large-extra-largest;
						color: $light-text-color;
						border: 1px solid $light-border-color;
						position: absolute;
						z-index: 2;
						top: 0;
						left: 0;
						bottom: 0;
						right: 0;
					}
					&:hover, &:focus {
						&:after, &:before {
							display: block;
						}
					}
					&:active {
						&:after {
							@include transform(scale(1.2, 1.2));
						}
					}
					img {
						width: 100%;
						height: auto;
						position: absolute;
						top: 50%;
						@include transform(translateY(-50%));
						left: 0;
					}
				}
				h4 {
					margin: 0;
					padding: 20px 10px 0;
					line-height: 1.4;
					text-align: left;
					color: $text-color-1;
					height: 75px;
					overflow: hidden;
				}
			}
		}
		.info-block	{
			display: block;
			width: 100%;
			overflow: hidden;
			margin-bottom: 20px;
			.info-box {
				width: 100%;
				height: 140px;
				overflow: hidden;
				display: block;
				text-align: left;
				// @include clearfix;
				margin-bottom: 40px;
				@media (max-width: $screen-xs-max) {
					// display: table;
					height: auto;
					min-height: 80px
				}
				&:after {
					clear: both;
					content: "";
					display: block;
				}
				.info-image, .info-profile {
					display: block;
					float: left;
					height: 140px;
					@media (max-width: $screen-xs-max) {
						// display: table-cell;
						min-height: 80px;
						height: auto;
					}
				}
				.info-image {
					width: percentage((3.5 / $grid-columns));
					@media (min-width: $screen-md) and (max-width: $screen-md-max) {
						width: percentage((4 / $grid-columns));
					}
					@media (min-width: $screen-sm) and (max-width: $screen-sm-max) {
						width: percentage((2.5 / $grid-columns));
					}
					@media (max-width: $screen-xs-max) {
						width: 80px;
					}
					a {
						display: block;
						width: 140px;
						height: 140px;
						overflow: hidden;
						border: 1px solid $default-border-color;
						@media (max-width: $screen-xs-max) {
							width: 80px;
							height: 80px;
						}
						img {
							width: 100%;
							height: auto;
						}
					}
				}
				.info-profile {
					width: percentage((8.5 / $grid-columns));
					vertical-align: top;
					padding: 0 0 0 10px;
					@media (min-width: $screen-md) and (max-width: $screen-md-max) {
						width: percentage((8 / $grid-columns));
					}
					@media (min-width: $screen-sm) and (max-width: $screen-sm-max) {
						width: percentage((9.5 / $grid-columns));
					}
					@media (max-width: $screen-xs-max) {
						width: 100%;
						float: none;
						padding: 0 0 0 90px;
					}
					h4 {
						max-height: 38px;
						overflow: hidden;
						margin: 0 0 5px;
						font-weight: bold;
						text-transform: uppercase;
						color: $text-color-1;
						font-size: $font-size-medium;
						word-break: break-word;
					}
					.phone, .email {
						display: block;
						margin-bottom: 5px;
						font-size: $font-size-custom-large;
						font-weight: bold;
						line-height: 1.5;
					}
					.phone {
						width: 100%;
						height: 24px;
						overflow: hidden;
						&:before {
							font-family: $font-icon;
							content: "\f095";
							color: $text-color-2;
							padding-right: 5px;
						}
					}
					.email {
						word-break: break-all;
						max-height: 72px;
						overflow: hidden;
						a {
							color: inherit;
						}
						&:before {
							font-family: $font-icon;
							content: "\f0e0";
							color: $text-color-2;
							padding-right: 5px;
						}
					}
				}
			}
		}
	}
	.contact-block {
		overflow: hidden;
		.form-group {
			margin-bottom: 30px;
			position: relative;
			label {
				font-size: floor($font-size-normal*1.15);
				color: $dark-text-color;
				text-transform: capitalize;
				position: absolute;
				z-index: 2;
				width: 100%;
				height: 100%;
				padding: 0 15px;
				left: 0;
				top: 0;
				bottom: 0;
				height: 22px;
				line-height: 1;
				margin: auto 0;
				@include transition(all 0.2s ease-in-out);
			}
			input, textarea {
				width: 100%;
				font-size: $font-size-normal;
				-webkit-border-radius: 0;
				-moz-border-radius: 0;
				border-radius: 0;
				@include box-shadow(none);
				&:focus, &.not-empty {
					border-width: 2px;
					border-color: $border-color-2;
					&~label {
						font-size: $font-size-normal;
						color: $text-color-1;
						padding: 0;
					}
				}
			}
			input {
				height: 50px;
				position: relative;
				&:focus, &.not-empty {
					&~label {
						top: -80px;
					}
				}
			}
			textarea {
				height: 270px;
				resize: vertical;
				&:focus, &.not-empty {
					&~label {
						top: -280px;
					}
				}
			}
		}
		.button-group {
			margin-top: 30px;
			white-space: nowrap;
			text-align: right;
			@media (max-width: $screen-sm-max) {
				margin-bottom: 25px;
			}
			button {
				line-height: 1.5;
				font-weight: bold;
				padding: 12px 48px;
				font-size: $font-size-large;
				color: $light-text-color;
				background-color: $background-color-2;
				border: 2px solid transparent;
				text-transform: uppercase;
				-webkit-border-radius: 0;
				-moz-border-radius: 0;
				border-radius: 0;
				@media (max-width: $screen-sm-max) {
					font-size: $font-size-medium;
					padding: 8px 32px;
				}
				&:hover, &:focus {
					color: $text-color-2;
					background-color: transparent;
					border-color: $border-color-2;
					outline: none;
				}
				&[type="reset"] {
					float: right;
				}
			}
		}
	}
	.news-block {
		[class*="col-"] {
			padding: 0 10px;
			border: 1px solid transparent;
		}
		.news-box {
			border: 1px solid $shadow-color;
			overflow: hidden;
			margin-bottom: 20px;
			.news-wrapper {
				display: block;
				width: 100%;
				padding-bottom: percentage((9.75 / $grid-columns));
				position: relative;
				overflow: hidden;
				img {
					width: 100%;
					height: auto;
					min-height: 100%; 
					position: absolute;
					top: 50%;
					left: 50%;					
					@include transform(translateX(-50%) translateY(-50%));
				}
			}
			.news-title-group {
				padding: 15px 10px;
				line-height: 1.5;
				.news-datetime {
					display: block;
					color: $text-color-1;
					margin-bottom: 5px;
				}
				h4 {
					margin: 0;
					font-size: $font-size-custom-large;
					line-height: 1.2;
					text-align: left;
					text-transform: normal;
					font-weight: bold;
					height: 42px;
					overflow: hidden;
					color: $text-color-2;
					a {
						color: inherit;
					}
				}
			}
		}
	}
	.pagination-block {
		text-align: center;
		margin-bottom: 25px;
		.pagination {
			padding: 0;
			margin: 0;
			a {
				padding: 10px 15px;
				background-color: transparent;
				font-weight: bold;
				color: $text-color-2;
				border: 0;
				margin: 0;
				line-height: 1;
				&:hover, &:focus {
					color: $text-color-1;
					font-weight: 900;
					@include transform(scale(1.2, 1.2));
				}
			}
			li {
				padding: 0;
				margin: 0;
				&.active {
					a {
						color: $text-color-1;
						font-weight: 900;
						@include transform(scale(1.2, 1.2));
					}
				}
			}
		}
	}
	.post-block, .side-block {
		margin-top: 50px;
		img {
			width: 100% !important;
			height: auto !important;
		}
		.title-block {
			h1, h2 {
				text-transform: uppercase;
				color: $text-color-1;
				font-weight: bold;
				margin: 0;
			}
			h1 {
				font-size: $font-size-large;
				padding-bottom: 30px;
				@media (max-width: $screen-xs-max) {
					font-size: $font-size-medium;
				}
			}
			h2 {
				font-size: $font-size-medium;
				padding-bottom: 20px;
				@media (max-width: $screen-xs-max) {
					text-align: center;
				}
			}
		}
	}
	.post-block {
		.content-block {
			a {
				color: $text-color-1;
				&:hover, &:focus {
					text-decoration: underline;
				}
				&.image-wrapper {
					width: 100%;
					display: block;
				}
			}
			p {
				text-indent: 40px;
				line-height: 1.5;
				img:first-child {
					margin-left: -40px;
				}
			}
			img {
				padding: 32px 40px;
			}
		}
	}
	.side-block {
		@media (min-width: $screen-lg) {
			padding-left: 35px;
		}
		.title-block {
			padding: 0 10px;
		}
		.content-block {
			.datetime {
				font-size: $font-size-normal;
				color: $text-color-2;
				padding-bottom: 15px;
			}
			h4 {
				margin: 0;
				a {
					text-transform: uppercase;
					font-size: $font-size-normal;
					color: $dark-text-color;
					font-weight: 900;
					&:hover, &:focus {
						color: $text-color-1;
					}
				}
			}
			.image-wrapper {
				display: block;
				width: 100%;
				padding-bottom: percentage((6.5 / $grid-columns));
				margin-bottom: 10px;
				overflow: hidden;
				position: relative;
				img {
					position: absolute;
					top: 0;
					left: 0;
					right: 0;
					bottom: 0;
				}
			}
			.hot-news-box {
				border-top: 1px solid $default-border-color;
				&:last-child {
					border-bottom: 1px solid $default-border-color;
					margin-bottom: 30px;
				}
				@media (max-width: $screen-sm-max) {
					&:nth-last-child(2) {
						border-bottom: 1px solid $default-border-color;
						margin-bottom: 30px;
					}
					&:nth-child(2n+1) {
						clear: both;
					}
				}
			}
			.hot-news-box, .related-news-box {
				padding: 15px 10px;
			}
			.hot-news-box {
				@media (min-width: $screen-sm) and (max-width: $screen-sm-max) {
					width: 50%;
					float: left;
				}
			}
			.related-news-box {
				@media (min-width: $screen-sm) and (max-width: $screen-sm-max) {
					width: percentage((4 / $grid-columns));
					float: left;
					&:nth-child(3n+1) {
						clear: both;
					}					
				}
				@media (max-width: $screen-xs-max) {
					width: 50%;
					float: left;
					&:nth-child(2n+1) {
						clear: both;
					}
					@media (max-width: $screen-xs) {
						width: 100%;
						float: none;
						clear: both;
					}
				} 
			}
		}
	}
}
footer {
	background-color: $dark-background-color;
	text-align: center;
	color: $light-text-color;
	font-size: $font-size-normal;
	margin-top: 80px;
	@media (max-width: $screen-xs-max) {
		margin-top: 40px;
	}
	.footer-container {
		@include clearfix;
		height: 85px;
		overflow: hidden;
	}
}
// Modal AREA
.modal-backdrop.fade.in {
	background-image: url(../images/overlay.png);
}
.pop-up {
	z-index: 9999; 
	.close {
		position: absolute;
		top: 5px;
		right: 5px;
		z-index: 9;  
		outline: none;
		width: 18px;
		height: 18px;
		background: $light-background-color;
		opacity: 1;
		border-radius: 100%;
		line-height: 0.8;
	}
	.modal-dialog {
		width: percentage((8 / $grid-columns));
		max-width: 1400px; 
		margin: 0 auto; 
		@media (max-width: $screen-xs-max) {
			width: percentage((11 / $grid-columns));
		}
	}
	.modal-content {
		-webkit-border-radius: 15px;
		-moz-border-radius: 15px;
		border-radius: 15px;
		overflow: hidden;
	}
	.image-wrapper {
		display: block;
		width: 100%;
		img {
			width: 100%;
			height: auto;
		}
	}
}

@media (max-width: $screen-xs-max) {}
@media (min-width: $screen-sm) and (max-width: $screen-sm-max) {}
@media (min-width: $screen-md) and (max-width: $screen-md-max) {}
@media (min-width: $screen-lg) {}